.awesome-article {
    width: 100%;
}
.awesome-container {
    width: 1170px;
    margin: 0 auto; 
}
.awesome-container__img {
    text-align: center;
}
.awesome-item__img {
    text-align: center;
}
.awesome-container__h2 {
    text-align: center;
    font-size: 36px; 
    font-weight: 400; 
    font-family: 'Raleway'; 
}
.awesome-container__h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgba(134, 135, 139, 1);
    font-family: 'Raleway', sans-serif;
}
.awesome-block {
    width: 100%;
}
.awesome-item {
    display: inline-block; 
    width: 370px;
    height: 383px;
}
.awesome-item__img:hover {
    filter: drop-shadow(0px 4px 10px #4682B4);
}
.awesome-item__h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans';
}
.awesome-item__h5 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway';
}


@media screen and (max-width: 1170px) {
    .awesome-container {
        width: 95%; 
        flex-wrap: wrap;
        justify-content: center;
    }
}
