.header {
    width: 100%;
    background-color: #000;
}
.header-container {
    width: 100%;
    height: 75px;
    margin: 0 auto;
    display: flex;
}
.header-logo {
    width: 30%;
    cursor: pointer;
    text-align: center;
}
.header-tabs {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}
.header-tabs__name {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 75px;
    cursor: pointer;
}
.header-tabs__name:hover {
    color: hsla(0, 75%, 70%, 1);
}
.header-tabs__vector {
    text-align: center;
    line-height: 75px;
    display: none;
}

@media screen and (max-width: 1170px) {
    .header-container {
        width: 95%;
    }
}
@media screen and (max-width: 700px) {
    .header-tabs__name {
        font-size: 12px;
        line-height: 60px;
    }
    .header-container {
        height: 60px;
    }
    .header-logo__image {
        transform: scale(0.8);
    }
}
@media screen and (max-width: 570px) {
    .header-tabs {
        width: 60%;
    }
}
@media screen and (max-width: 500px) {
    .header-tabs {
        width: 65%;
    }
}
@media screen and (max-width: 430px) {
    .header-tabs__name {
        display: none;
    }
    .header-tabs__vector {
        line-height: 60px;
        display: block;
        margin: 0 auto;
    }
}
