.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header-container {
    width: 1170px;
    height: 75px;
    background-color: #000;
    margin: 0 auto;
    display: flex;
}
.header-logo {
    width: 30%;
    color: white;
    font-size: 36px;
    margin-left: 100px;
    margin-top: 15px;
    cursor: pointer;
}
.header-logo__new-color {
    color: hsla(0, 75%, 70%, 1);
}
.header-tabs {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}
.header-tabs__name {
    color: #FFF;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 75px;
    cursor: pointer;
}
.header-tabs__name:hover {
    color: hsla(0, 75%, 70%, 1);
}