.pricing-article {
    width: 100%;
    background: hsla(0, 0%, 96%, 1);
}
.pricing-container {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}
.pricing-header__title {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin: 50px;
}
.pricing-header__image {
    width: 100%;
    text-align: center;
}
.pricing-header__text {
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
.pricing-content {
    display:flex;
    justify-content: space-between;
}
.pricing-block {
    width: 370px;
    margin-top: 29px;
}
.pricing-block:hover {
    filter: drop-shadow(0px 4px 10px #4682B4);
    margin-top: 9px;
}
.pricing-block__item1 {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
}
.pricing-block__item2 {
    width: 100%;
    height: 100px;
    background-color: #333;
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    border: 2px solid #F5F5F5;
}
.pricing-block__item3 {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: rgba(255, 255, 255, 0.50);
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
}
.pricing-block__item4 {
    width: 100%;
    height: 60px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
}
.pricing-block__item5 {
    width: 100%;
    height: 60px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
}
.pricing-block__item6 {
    width: 100%;
    height: 60px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
}
.pricing-block__item7 {
    width: 100%;
    height: 60px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
}
.pricing-block__item8 {
    width: 100%;
    height: 60px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
}
.pricing-block__item9 {
    width: 100%;
    height: 60px;
    color: #86878B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    line-height: 60px;
    border: 2px solid #F5F5F5;
    background-color: #FFF;
}