.social-media {
    width: 100%;
}
.social-media-container {
    width: 100%;
    background-color: hsla(0, 39%, 95%, 1);
    margin: 0 auto;
    display: flex;
}
.social-media-block {
    width: 40%;
}
.social-media-href {
    width: 55%;
    height: 100%;
    display: inline-flex;
}
.social-media__icons {
    margin-left: 30px;
    margin-top: 40px;
    cursor: pointer;
}
.social-media__icons:hover {
    transform: rotate(10deg) scale(1.5);
}
.social-media-block__header {
    font-size: 24px;
    font-weight: 700;
    font-family: Open Sans;
    color: #333;
    margin-left: 65px;
}
.social-media-block__text {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway;
    color: #86878B;
    margin-left: 65px;
}

@media screen and (max-width: 1170px) {
    .social-media-container {
        width: 95%;
    }
}
@media screen and (max-width: 1070px) {
    .social-media__icons {
       width: 45px;
       height: 45px;
    }
    .social-media-block__header {
        font-size: 20px;
    }
    .social-media-block__text {
        font-size: 16px;
    }
}
@media screen and (max-width: 965px) {
    .social-media__icons {
        margin-left: 20px;
    }
    .social-media-block__header {
        margin-left: 50px;
    }
    .social-media-block__text {
        margin-left: 50px;
    }
}
@media screen and (max-width: 860px) {
    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social-media__icons {
        margin-left: 30px;
        margin: 10px 0 15px 30px;
    }
    .social-media-block {
        width: 100%;
    }
    .social-media-block__header {
       text-align: center;
    }
    .social-media-block__text {
        text-align: center;
    }
}