.social-media {
    width: 100%;
    background-color: hsla(0, 39%, 95%, 1);
}
.social-media-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
}
.social-media-href {
    height: 100%;
    display: inline-flex;
}
.social-media__icons {
    margin-left: 30px;
    margin-top: 40px;
    cursor: pointer;
}
.social-media-block__header {
    font-size: 24px;
    font-weight: 700;
    font-family: Open Sans;
    color: #333;
    margin-left: 65px;
}
.social-media-block__text {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway;
    color: #86878B;
    margin-left: 65px;
}
.social-media__little-icons {
    display: none;
}

@media screen and (max-width: 1170px) {
    .social-media-container {
        width: 95%;
    }
}
@media screen and (max-width: 965px) {
    .social-media__icons {
        margin-left: 20px;
    }
    .social-media-block__header {
        margin-left: 50px;
    }
    .social-media-block__text {
        margin-left: 50px;
    }
}
@media screen and (max-width: 860px) {
    .social-media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .social-media-block__header {
       text-align: center;
       margin-left: 0;
    }
    .social-media-block__text {
        text-align: center;
        margin-left: 0;
    }
    .social-media__icons {
       margin: 0;
       padding-bottom: 10px;
       transform: scale(0.7);
    }
}
@media screen and (max-width: 420px) {
    .social-media__icons {
        display: none;
    }
    .social-media-href {
        display: inline-flex;
        justify-content: space-around;
    }
    .social-media__little-icons {
        display: block;
        transform: scale(1.1);
        margin: 5px;
    }
}


